<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @venue.title %>
</p>

<p>
  <strong>Headline:</strong>
  <%= @venue.headline %>
</p>

<p>
  <strong>Description:</strong>
  <%= @venue.description %>
</p>

<p>
  <strong>Type:</strong>
  <%= @venue.type %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @venue.phone %>
</p>

<p>
  <strong>Address1:</strong>
  <%= @venue.address1 %>
</p>

<p>
  <strong>Address2:</strong>
  <%= @venue.address2 %>
</p>

<p>
  <strong>City:</strong>
  <%= @venue.city %>
</p>

<p>
  <strong>State:</strong>
  <%= @venue.state %>
</p>

<p>
  <strong>Latitude:</strong>
  <%= @venue.latitude %>
</p>

<p>
  <strong>Longitude:</strong>
  <%= @venue.longitude %>
</p>

<p>
  <strong>Url:</strong>
  <%= @venue.url %>
</p>

<p>
  <strong>Logo url:</strong>
  <%= @venue.logo_url %>
</p>

<p>
  <strong>Summary:</strong>
  <%= @venue.summary %>
</p>

<p>
  <strong>Attractions:</strong>
  <%= @venue.attractions %>
</p>

<p>
  <strong>Photo urls:</strong>
  <%= @venue.photo_urls %>
</p>

<p>
  <strong>Opening date:</strong>
  <%= @venue.opening_date %>
</p>

<p>
  <strong>Number of rooms:</strong>
  <%= @venue.number_of_rooms %>
</p>

<p>
  <strong>Theme:</strong>
  <%= @venue.theme %>
</p>

<p>
  <strong>Total gaming space:</strong>
  <%= @venue.total_gaming_space %>
</p>

<p>
  <strong>Permanent space:</strong>
  <%= @venue.permanent_space %>
</p>

<p>
  <strong>Casino type:</strong>
  <%= @venue.casino_type %>
</p>

<p>
  <strong>Owner:</strong>
  <%= @venue.owner %>
</p>

<p>
  <strong>Renovated at:</strong>
  <%= @venue.renovated_at %>
</p>

<%= link_to 'Edit', edit_venue_path(@venue) %> |
<%= link_to 'Back', venues_path %>
